.header{
    align-items: center;
    border-bottom: 1px var(--color-primary) solid;
    font-family: var(--font-header);
    color: var(--font-black);
    text-transform: uppercase;
}

.logo{
    margin-left: 27vw;
}

.logind{
    margin-left: 20vw
}

ul.flex{
    justify-content: center;
    border-bottom: 1px var(--color-primary) solid;
    box-shadow: 3px;
    padding-bottom: 10px;
    gap: 30px;
}

li{
    list-style-type: none;
    font-family: var(--font-header);
    font-weight: bold;
    
}

li:nth-child(3){
    color: var(--font-red)
}